.map {
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba($black, 0.6);
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    inset: 0;
  }
  iframe {
    width: 100%;
  }
  .icon-rotate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}
